<h1 class="text-center">Edit <%= @action_item.content %></h1>
<%= form_for [@user, @action_item] do |f| %>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_field :content, autofocus: true, class: "form-control" %>
        <%= f.label :due_at %>
        <%= f.datetime_field :due_at, class: "form-control" %>
        <%= f.label :completed_at %>
        <%= f.datetime_field :completed_at, class: "form-control" %>
      </div>
      <%= f.submit "Update Todo", class: "btn btn-default" %>
    </div>
  </div>
<% end %>